@mixin beforeIcon($top, $right, $bottom, $left, $width, $height, $url){
    content: "";
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    margin: auto;
    width: $width;
    height: $height;
    background-image: $url;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}