@mixin beforeIcon {
    content: "";
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    margin: auto;
    width: $width;
    height: $height;
    background-color: #blue;
    background-repeat: no-repeat;
    background-size: contain;  ;
}