@import '../styles/normalize';
@import '../styles/fonts';
@import '../styles/mixin';

.container{
    width: 100%;
    max-width: 1312px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

body{
    font-family: 'ProximaNovaSoftW03';
}

