@import '../styles/normalize';
@import '../styles/fonts';
@import '../styles/mixin';

.container{
    width: 100%;
    max-width: 1342px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.container-small{
    width: 100%;
    max-width: 1108px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

body{
    font-family: 'ProximaNovaSoftW03';
    background: #E5E5E5;
}

// ******************* button **********************************

.button{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #4A4952;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 13px 47px;
    border: 1px solid #FEA244;
    display: inline-block;
    text-decoration: none;
    transition: all ease .5s;

    &:hover{
        background-color: #FD9147;
        color: #FFFFFF;
        box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
    }

    &:active{
        opacity: .6;
    }

    &--orange{
        background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
        color: #FFFFFF;
        transition: all ease .5s;

        &:hover{
            background: #fff;
            color: #4A4952;
            box-shadow: none;
        }

        &:active {
            opacity: .6;
        }
    }
}


// ********************************** header **************************************

.hero{

    header{
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(4px);
        position: fixed;
        width: 100%;
        z-index: 2;

        .header-inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 14px;
            padding-bottom: 14px;

            .header-left{
                display: flex;

                &__logo{
                    width: 70.5px;
                    height: 56px;
                    object-fit: contain;
                    margin-right: 23px;
                    transition: all ease .5s;

                    &:hover{
                        opacity: .8;
                    }

                    &:active{
                        opacity: .6;
                    }
                }

                &__logo-title{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 110.84%;
                    color:#5D748A;
                    max-width: 130px;
                    text-decoration: none;
                    transition: all ease .5s;

                    &:hover{
                        opacity: .8;
                    }

                    &:active{
                        opacity: .6;
                    }

                }
            }

            .header-middle{
                display: flex;
                position: relative;
                margin-left: 33px;

                &::before{
                    @include beforeIcon(0, auto, 0, -33px, 22px, 19px, url(../images/icon/home.svg));

                }

                &__link{
                    display: inline-block;
                    text-decoration: none;
                    padding: 18px 16px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 20px;
                    color: #5D748A;
                    transition: all ease .5s;

                    &:hover{
                        color: #FEA244;
                    }

                    &:active{
                        opacity: .6;
                    }
                }
            }

            .header-right{
                display: flex;
                align-items: center;
                justify-content: center;

                &__lang{
                    display: inline-block;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D748A;
                    margin-right: 24px;
                    position: relative;
                    transition: all ease .5s;

                    &:hover{
                        color: #FEA244;
                    }

                    &:active{
                        opacity: .6;
                    }

                    &::before{
                        @include beforeIcon(0, auto, 0, -24px, 16.5px, 16px, url(../images/icon/lang.svg));
                        opacity: .6;
    
                    }
                }

                &__kabinet{
                    align-items: center;
                    background: #FFFFFF;
                    border-radius: 24px;
                    padding: 8px 16.5px;
                    border: 1px solid #FEA244;
                    display: flex;
                    text-decoration: none;
                    transition: all ease .5s;

                    &:hover{
                        opacity: .6;
                    }

                    .kabinet-image{
                        margin-right: 8px;
                        width: 20px;
                        height: 20px;
                    }

                    .kabinet-title{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 20px;
                        color: #5D748A;
                    }
                }
            }
        }
    }
    // ********************************* hero *****************************************
    
    &-inner{
        padding-top: 84px;

        .hero-left{
            padding-top: 290px;
            padding-bottom: 277px;

            &__title{
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 125.34%;
                color: #5D748A;
                width: 533px;
                margin-bottom: 64px;
            }

            .hero-buttons{
                display: flex;

                &__btn{

                    &:first-child{
                        margin-right: 16px;
                        padding: 13px 24px;
                        transition: all ease .5s;

                    }
                }
            }
        }
        // *************************** carausel ******************************

        .carausel-counter{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 164px;
            position: relative;

            &::before{
                @include beforeIcon(5px, 750px, 0, 0, 171px, 128px, url(../images/tablet.svg));
            }

            &__first,
            &__last{
                width: 12px;
                height: 12px;
                background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
                opacity: 0.4;
                border-radius: 6px;
            }

            &__prev,
            &__next{
                width: 12px;
                height: 12px;
                background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
                opacity: 0.7;
                border-radius: 6px;
                margin-left: 8px;
            }

            &__next{
                margin: 0;
                margin-right: 8px;
            }

            &__active{
                width: 140px;
                height: 12px;
                background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
                border-radius: 6px;
                margin: 0 8px;
            }
        }
    }

    background-image: url(../images/hero-halfcircle.svg), url(../images/hero-rectangle-original.svg), url(../images/ellipse-hero.svg), url(../images/hero-main2.svg), url(../images/bg1.png), url(../images/bg2.png), url(../images/bg3.png), linear-gradient(0deg, #F4F7FB 0%, #F9F9F9 29.57%, #E6E6E6 53.91%, #D6D6D6 74.11%);
    background-repeat: no-repeat;
    background-size: 100px 206px, 120px 201px, 138px 298px, 722px auto, 80% auto, 100% auto, 120% 150%;
    background-position: bottom left, center right, top right, right center,top right, bottom left;
    
}
// ********************************** parents section ***************************************

.parents{
    margin-bottom: 64px;
    position: relative;
    &::before{
        @include beforeIcon(-150px, 0px, auto, auto, 178px, 133px, url(../images/hero-waterdrop.svg));
    }

    &__inner{

        background-image: url(../images/half-bg.png), url(../images/parents-bg.jpg);
        background-repeat: no-repeat;
        background-size: 70% 100%, cover;
        background-position: top right, center;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding-right: 111px;
        padding-left: 111px;


        .parents-left{
            padding-top: 40px;
            padding-bottom: 40px;

            &__title{
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 162.5%;
                letter-spacing: 0.12px;
                color: #FFFFFF;
                margin-bottom: 12px;
            }

            &__text{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 162.5%;
                letter-spacing: 0.12px;
                color: #FFFFFF;
                margin-bottom: 36px;
            }

            &__btn{
                border: none;
                transition: all ease .5s;
                    
            }
        }

        .family-image{
            display: block;
            position: relative;
            top: 15px;
            width: 339px;
            height: auto;
            object-fit: cover;
        }
    }
}
// *************************** video blog section **********************************************

.video{

    display: flex;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    
    &__inner{
        display: flex;
        width: 100%;
        align-items: flex-start;

        .video__outside-image{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            
        }
        
        .video-block{
            width: 304px;
            height: 216px;
            border-radius: 16px;
            overflow: hidden;
            transition: all ease .5s;
            cursor: pointer;
            margin-right: 32px;

            &:hover{
                background: #558EF7;
                opacity: 0.7;
            }
            
            &.football{
                background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/futbol.jpg);
                background-repeat: no-repeat;
                background-size: 304px 216px;
                background-position: center;
                position: relative;
                // margin-right: 32px;
            }

            &.armlesting{
                background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/kuch-sinashish2.jpg);
                background-repeat: no-repeat;
                background-size: 304px 216px;
                background-position: center;
                position: relative;
                // margin-right: 32px;
            }
            
            &__banner{
                position: absolute;
                padding: 20px;
                // box-sizing: border-box;
                
                .banner-top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 34px;

                    &__date{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #FFFFFF;
                    }

                    &__sport{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        text-align: right;
                        color: #FFFFFF;
                    }
                }
                
                .play-btn{
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 24px;        
                }

                .about-sport{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.12px;
                    color: #FFFFFF;
                    display: inline-block;
                    text-decoration: none;
                    transition: all ease .5s;

                    &:hover{
                        opacity: .8;
                    }

                    &:active{
                        opacity: .6;
                    }
                }
            }

        }
        .video-post{

            &__title{

                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 125.34%;
                color: #558EF7;
                text-decoration: none;
                margin-bottom: 16px;
                display: inline-block;

                &:hover{
                    opacity: .8;
                }

                &:active{
                    opacity: .6;
                }
            }

            &__text{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 125.34%;
                color: #5D748A;
                max-width: 416px;
                margin-bottom: 26px;
            }

            &__all-video{
                display: inline-block;
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                color: #FEA244;
                position: relative;

                &:hover{
                    opacity: .8;
                }

                &:active{
                    opacity: .6;
                }
                
                &:hover::before{
                    transform: translate(35px);
                }
                
                &::before{
                    @include beforeIcon(0, -24px, 0, auto, 12px, 10px, url(../images/icon/pointer.svg));
                    transition: all ease .5s;
                }
            }
        }
    }
}
// ************************************** video news *************************************

.video-news{

    background-image: url(../images/water-drop2.svg);
    background-size: 128px auto;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 120px;

    &__inner{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .video-block{
            width: 304px;
            height: 216px;
            border-radius: 16px;
            overflow: hidden;
            transition: all ease .5s;
            cursor: pointer;

            &:hover{
                background: #558EF7;
                opacity: 0.7;
            }
            
            &.competation{
                background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/championat.jpg);
                background-repeat: no-repeat;
                background-size: 304px 216px;
                background-position: center;
                position: relative;
                // margin-right: 32px;
            }

            &.official{
                background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/prezident.jpg);
                background-repeat: no-repeat;
                background-size: 640px 464px;
                background-position: center;
                position: relative;
                // margin-right: 32px;
                width: 640px;
                height: 464px;

                .video-block__banner{
                    position: absolute;
                    padding: 20px;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .banner-top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // margin-bottom:
    
                        &__date{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 18px;
                            color: #FFFFFF;
                        }
    
                        &__sport{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 18px;
                            text-align: right;
                            color: #FFFFFF;
                        }
                    }
                    
                    .play-btn{
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: 24px;        
                    }
    
                    .about-sport{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 34px;
                        letter-spacing: 0.12px; 
                        color: #FFFFFF;
                        display: inline-block;
                        text-decoration: none;
                        transition: all ease .5s;
    
                        &:hover{
                            opacity: .8;
                        }
    
                        &:active{
                            opacity: .6;
                        }
                    }
                }
    
            }

            &.popular{
                background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/popular.jpg);
                background-repeat: no-repeat;
                background-size: 304px 216px;
                background-position: center;
                position: relative;
                // margin-right: 32px;
            }
            
            &__banner{
                position: absolute;
                padding: 20px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;
                
                .banner-top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 34px;

                    &__date{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #FFFFFF;
                    }

                    &__sport{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        text-align: right;
                        color: #FFFFFF;
                    }
                }
                
                .play-btn{
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 24px;        
                }

                .about-sport{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.12px;
                    color: #FFFFFF;
                    display: inline-block;
                    text-decoration: none;
                    transition: all ease .5s;

                    &:hover{
                        opacity: .8;
                    }

                    &:active{
                        opacity: .6;
                    }
                }
            }

        }
    }
}
// ***************************** o'yinlar carausel **************************





// ****************************** sport masalalari ******************************




// ********************************* sport arena **********************************

.arena{

    margin-bottom: 120px;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arena-left{
            margin-left: 60px;

            &__image-boy{
                width: 611px;
                height: 551px;
                object-fit: contain;
            }
        }

        .arena-right{
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .arena-top{

                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 48px;
                width: 100%;

                &__title{
                    display: inline-block;
                    text-decoration: none;
                    max-width: 238px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 125.34%;
                    color: #558EF7;
                    transition: all ease .5s;

                    &:hover{
                        opacity: .8;
                    }

                    &:active{
                        opacity: .6;
                    }
                }

                form{
                    
                    select{
                        padding: 15px;
                        padding-right: 5px;
                        border-radius: 25px;
                        border: none;
                        border: 1px solid #FEA244;
                        outline: none;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 20px;
                        color: #4A4952;
                    }
                }
            }

            .arena-middle{
                margin-bottom: 48px;

                &__row{
                    display: flex;

                    .row-left{
                        display: flex;
                        align-items: center;

                        &__image{
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                            background: #FFFFFF;
                            box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
                            border-radius: 16px;
                            padding: 15px;
                            margin-right: 20px;
                            box-sizing: border-box;
                        }

                        &__title{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 125.34%;   
                            color: #5D748A;
                            max-width: 112px;
                            transition: all ease .5s;
                            text-decoration: none;
                            margin-right: 32px;

                            &:hover{
                                color: #558EF7;
                            }

                            &:active{
                                opacity: .6;
                            }
                        }
                    }

                    .row-right{
                        display: flex;
                        align-items: center;

                        &__image{
                            padding: 15px;
                            background: #FFFFFF;
                            box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
                            border-radius: 16px;
                            width: 60px;
                            height: 60px;
                            box-sizing: border-box;
                            margin-right: 20px; 

                        }

                        &__image-gym{
                            
                            // padding: 0;
                            background: none;
                            width: 100px;
                            height: 100px;
                            object-fit: contain;
                            margin-left: -20px;
                            margin-top: 20px;
                            // box-sizing: border-box;

                        }

                        &__title{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 125.34%;   
                            color: #5D748A;
                            max-width: 112px;
                            transition: all ease .5s;
                            text-decoration: none;
                            // margin-right: 32px;

                            &:hover{
                                color: #558EF7;
                            }

                            &:active{
                                opacity: .6;
                            }
                        }
                    }
                }
            }

            .arena-bottom{
                display: flex;
                align-items: center;
                max-width: 528px;

                background: #FFFFFF;
                box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
                border-radius: 16px;
                padding: 8px 20px;

                &__left{
                    display: flex;
                    align-items: center;
                    margin-right: 80px;

                    .number{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 52px;
                        line-height: 125.34%;
                        color: #558EF7;
                        margin-right: 12px;
                    }

                    .total-counter{

                        &__ta{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 130.3%;
                            color: #5D748A;
                            opacity: 0.5;
                        }

                        &__result{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 125.34%;
                            color: #5D748A;
                        }
                    }
                }

                &__right{

                    .learn-more{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 20px;
                        color: #FEA244;
                        text-decoration: none;
                        display: inline-block;
                        transition: alle ease .5s;
                        position: relative;
                        margin-right: 24px;

                        &:hover::before{
                            transform: rotate(90deg);
                        }
                        
                        &::before{
                            @include beforeIcon(0, -24px, 0, auto, 12px, 10px, url(../images/icon/pointer.svg));
                            transition: all ease .5s;
                        }

                        &:hover{
                            opacity: .8;
                        }

                        &:active{
                            opacity: .6;
                        }
                    }
                }
            }
        }
    }
}
// ******************************** top users **************************************

.user{

    &__inner{

        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-left{

            &__image{
                width: 435px;
                height: 417px;
                object-fit: contain;
            }
        }

        .user-right{
            background: #FFFFFF;
            border-radius: 16px;
            padding: 48px 32px;
        }
    }
}



