@import '../styles/normalize';
@import '../styles/fonts';
@import '../styles/mixin';



h1{
    color: blue;
    position: relative;
    display: inline-block;
    &::before{
        @include beforeIcon;
    }
}

