body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNovaSoftW03';
  src: url("../fonts/ProximaNovaSoftW03-Regular.eot");
  src: url("../fonts/ProximaNovaSoftW03-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSoftW03-Regular.woff") format("woff"), url("../fonts/ProximaNovaSoftW03-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 100%;
  max-width: 1342px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-small {
  width: 100%;
  max-width: 1108px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'ProximaNovaSoftW03';
  background: #F4F7FB;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #4A4952;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 13px 47px;
  border: 1px solid #FEA244;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.button:hover {
  background-color: #FD9147;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
          box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
}

.button:active {
  opacity: .6;
}

.button--orange {
  background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
  -webkit-box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
          box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
  color: #FFFFFF;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.button--orange:hover {
  background: #fff;
  color: #4A4952;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--orange:active {
  opacity: .6;
}

.hero {
  background-image: url(../images/hero-halfcircle.svg), url(../images/hero-rectangle-original.svg), url(../images/ellipse-hero.svg), url(../images/hero-main2.svg), url(../images/bg1.png), url(../images/bg2.png), url(../images/bg3.png), -webkit-gradient(linear, left bottom, left top, from(#F4F7FB), color-stop(29.57%, #F9F9F9), color-stop(53.91%, #E6E6E6), color-stop(74.11%, #D6D6D6));
  background-image: url(../images/hero-halfcircle.svg), url(../images/hero-rectangle-original.svg), url(../images/ellipse-hero.svg), url(../images/hero-main2.svg), url(../images/bg1.png), url(../images/bg2.png), url(../images/bg3.png), linear-gradient(0deg, #F4F7FB 0%, #F9F9F9 29.57%, #E6E6E6 53.91%, #D6D6D6 74.11%);
  background-repeat: no-repeat;
  background-size: 100px 206px, 120px 201px, 138px 298px, 722px auto, 80% auto, 100% auto, 120% 150%;
  background-position: bottom left, center right, top right, right center,top right, bottom left;
}

.hero header {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.hero header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
}

.hero header .header-inner .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero header .header-inner .header-left__logo {
  width: 70.5px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 23px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hero header .header-inner .header-left__logo:hover {
  opacity: .8;
}

.hero header .header-inner .header-left__logo:active {
  opacity: .6;
}

.hero header .header-inner .header-left__logo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110.84%;
  color: #5D748A;
  max-width: 130px;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hero header .header-inner .header-left__logo-title:hover {
  opacity: .8;
}

.hero header .header-inner .header-left__logo-title:active {
  opacity: .6;
}

.hero header .header-inner .header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 33px;
}

.hero header .header-inner .header-middle::before {
  content: "";
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -33px;
  margin: auto;
  width: 22px;
  height: 19px;
  background-image: url(../images/icon/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero header .header-inner .header-middle__link {
  display: inline-block;
  text-decoration: none;
  padding: 18px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hero header .header-inner .header-middle__link:hover {
  color: #FEA244;
}

.hero header .header-inner .header-middle__link:active {
  opacity: .6;
}

.hero header .header-inner .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero header .header-inner .header-right__lang {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5D748A;
  margin-right: 24px;
  position: relative;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hero header .header-inner .header-right__lang:hover {
  color: #FEA244;
}

.hero header .header-inner .header-right__lang:active {
  opacity: .6;
}

.hero header .header-inner .header-right__lang::before {
  content: "";
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -24px;
  margin: auto;
  width: 16.5px;
  height: 16px;
  background-image: url(../images/icon/lang.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .6;
}

.hero header .header-inner .header-right__kabinet {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 8px 16.5px;
  border: 1px solid #FEA244;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hero header .header-inner .header-right__kabinet:hover {
  opacity: .6;
}

.hero header .header-inner .header-right__kabinet .kabinet-image {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.hero header .header-inner .header-right__kabinet .kabinet-title {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
}

.hero-inner {
  padding-top: 84px;
}

.hero-inner .hero-left {
  padding-top: 290px;
  padding-bottom: 277px;
}

.hero-inner .hero-left__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 125.34%;
  color: #5D748A;
  width: 533px;
  margin-bottom: 64px;
}

.hero-inner .hero-left .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-inner .hero-left .hero-buttons__btn:first-child {
  margin-right: 16px;
  padding: 13px 24px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hero-inner .carausel-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 164px;
  position: relative;
}

.hero-inner .carausel-counter::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 750px;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 171px;
  height: 128px;
  background-image: url(../images/tablet.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-inner .carausel-counter__first, .hero-inner .carausel-counter__last {
  width: 12px;
  height: 12px;
  background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
  opacity: 0.4;
  border-radius: 6px;
}

.hero-inner .carausel-counter__prev, .hero-inner .carausel-counter__next {
  width: 12px;
  height: 12px;
  background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
  opacity: 0.7;
  border-radius: 6px;
  margin-left: 8px;
}

.hero-inner .carausel-counter__next {
  margin: 0;
  margin-right: 8px;
}

.hero-inner .carausel-counter__active {
  width: 140px;
  height: 12px;
  background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
  border-radius: 6px;
  margin: 0 8px;
}

.parents {
  margin-bottom: 64px;
  position: relative;
}

.parents::before {
  content: "";
  position: absolute;
  top: -150px;
  right: 0px;
  bottom: auto;
  left: auto;
  margin: auto;
  width: 178px;
  height: 133px;
  background-image: url(../images/hero-waterdrop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parents__inner {
  background-image: url(../images/half-bg.png), url(../images/parents-bg.jpg);
  background-repeat: no-repeat;
  background-size: 70% 100%, cover;
  background-position: top right, center;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding-right: 111px;
  padding-left: 111px;
}

.parents__inner .parents-left {
  padding-top: 40px;
  padding-bottom: 40px;
}

.parents__inner .parents-left__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 162.5%;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.parents__inner .parents-left__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 162.5%;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  margin-bottom: 36px;
}

.parents__inner .parents-left__btn {
  border: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.parents__inner .family-image {
  display: block;
  position: relative;
  top: 15px;
  width: 339px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  position: relative;
}

.video__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.video__inner .video__outside-image {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.video__inner .video-block {
  width: 304px;
  height: 216px;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  cursor: pointer;
  margin-right: 32px;
}

.video__inner .video-block:hover {
  background: #558EF7;
  opacity: 0.7;
}

.video__inner .video-block.football {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#383C45), to(rgba(56, 60, 69, 0.3))), url(../images/futbol.jpg);
  background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/futbol.jpg);
  background-repeat: no-repeat;
  background-size: 304px 216px;
  background-position: center;
  position: relative;
}

.video__inner .video-block.armlesting {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#383C45), to(rgba(56, 60, 69, 0.3))), url(../images/kuch-sinashish2.jpg);
  background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/kuch-sinashish2.jpg);
  background-repeat: no-repeat;
  background-size: 304px 216px;
  background-position: center;
  position: relative;
}

.video__inner .video-block__banner {
  position: absolute;
  padding: 20px;
}

.video__inner .video-block__banner .banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}

.video__inner .video-block__banner .banner-top__date {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.video__inner .video-block__banner .banner-top__sport {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.video__inner .video-block__banner .play-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.video__inner .video-block__banner .about-sport {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.video__inner .video-block__banner .about-sport:hover {
  opacity: .8;
}

.video__inner .video-block__banner .about-sport:active {
  opacity: .6;
}

.video__inner .video-post__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125.34%;
  color: #558EF7;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.video__inner .video-post__title:hover {
  opacity: .8;
}

.video__inner .video-post__title:active {
  opacity: .6;
}

.video__inner .video-post__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.34%;
  color: #5D748A;
  max-width: 416px;
  margin-bottom: 26px;
}

.video__inner .video-post__all-video {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FEA244;
  position: relative;
}

.video__inner .video-post__all-video:hover {
  opacity: .8;
}

.video__inner .video-post__all-video:active {
  opacity: .6;
}

.video__inner .video-post__all-video:hover::before {
  -webkit-transform: translate(35px);
          transform: translate(35px);
}

.video__inner .video-post__all-video::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  bottom: 0;
  left: auto;
  margin: auto;
  width: 12px;
  height: 10px;
  background-image: url(../images/icon/pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.video-news {
  background-image: url(../images/water-drop2.svg);
  background-size: 128px auto;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  margin-bottom: 127px;
}

.video-news__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-news__inner .video-block {
  width: 304px;
  height: 216px;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  cursor: pointer;
}

.video-news__inner .video-block:hover {
  background: #558EF7;
  opacity: 0.7;
}

.video-news__inner .video-block.competation {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#383C45), to(rgba(56, 60, 69, 0.3))), url(../images/championat.jpg);
  background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/championat.jpg);
  background-repeat: no-repeat;
  background-size: 304px 216px;
  background-position: center;
  position: relative;
}

.video-news__inner .video-block.official {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#383C45), to(rgba(56, 60, 69, 0.3))), url(../images/prezident.jpg);
  background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/prezident.jpg);
  background-repeat: no-repeat;
  background-size: 640px 464px;
  background-position: center;
  position: relative;
  width: 640px;
  height: 464px;
}

.video-news__inner .video-block.official .video-block__banner {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-news__inner .video-block.official .video-block__banner .banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-news__inner .video-block.official .video-block__banner .banner-top__date {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.video-news__inner .video-block.official .video-block__banner .banner-top__sport {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.video-news__inner .video-block.official .video-block__banner .play-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.video-news__inner .video-block.official .video-block__banner .about-sport {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.video-news__inner .video-block.official .video-block__banner .about-sport:hover {
  opacity: .8;
}

.video-news__inner .video-block.official .video-block__banner .about-sport:active {
  opacity: .6;
}

.video-news__inner .video-block.popular {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#383C45), to(rgba(56, 60, 69, 0.3))), url(../images/popular.jpg);
  background-image: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%), url(../images/popular.jpg);
  background-repeat: no-repeat;
  background-size: 304px 216px;
  background-position: center;
  position: relative;
}

.video-news__inner .video-block__banner {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video-news__inner .video-block__banner .banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}

.video-news__inner .video-block__banner .banner-top__date {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.video-news__inner .video-block__banner .banner-top__sport {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.video-news__inner .video-block__banner .play-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.video-news__inner .video-block__banner .about-sport {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.video-news__inner .video-block__banner .about-sport:hover {
  opacity: .8;
}

.video-news__inner .video-block__banner .about-sport:active {
  opacity: .6;
}

.games {
  background-image: url(../images/image-section-ellepse.svg);
  background-repeat: no-repeat;
  background-size: 100px 206px;
  background-position: top left;
}

.games__inner {
  position: relative;
}

.games__inner .black-box {
  position: absolute;
  right: 0;
  top: -150px;
  width: 270px;
  height: 203px;
  -o-object-fit: contain;
     object-fit: contain;
}

.games__inner .games-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125.34%;
  text-align: center;
  color: #558EF7;
}

.swiper-container {
  width: 100%;
  height: 340px;
  text-align: center;
}

.swiper-container .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
  opacity: 0.4;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.swiper-pagination-bullet-active {
  border-radius: 6px;
  width: 116px;
  opacity: 1;
}

.person-slide {
  border-radius: 40px;
  overflow: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  width: 304px;
  height: 200px;
}

.person-slide.swiper-slide-active {
  width: 416px !important;
  height: 260px !important;
}

.person-slide.swiper-slide-prev, .person-slide.swiper-slide-next {
  width: 304px !important;
  height: 200px !important;
}

.person-slide .person-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.person-slide .person-info {
  position: absolute;
  bottom: 0;
}

.images__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.images__inner .image-one {
  width: 177.99px;
  height: 133.49px;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
}

.images__inner .image-two {
  width: 268px;
  height: 201px;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
}

.advise {
  position: relative;
  height: 100%;
  margin-bottom: 70px;
}

.advise__banner {
  text-align: center;
  margin-bottom: 32px;
}

.advise__banner .advise-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125.34%;
  color: #558EF7;
  margin-bottom: 16px;
}

.advise__banner .advise-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.34%;
  text-align: center;
  display: inline-block;
  color: #5D748A;
  max-width: 416px;
}

.advise .swiper-container-advise {
  width: 100%;
  height: 250px;
  display: block;
  overflow: hidden;
}

.slide-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 380px;
  left: auto;
  margin: auto;
  bottom: 0;
}

.slide-nav__prev {
  display: block;
  width: 9px;
  height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 11px 15.5px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.slide-nav__prev:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.25);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.25);
}

.slide-nav__next {
  width: 55.5px;
  height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
  background: #FFFFFF;
  border-radius: 27px;
  padding: 10px 14.5px;
  display: block;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.slide-nav__next:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.25);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.25);
}

.advise-block {
  max-width: 416px;
  height: 140px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  border-radius: 16px;
  padding: 24px;
}

.advise-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.24px;
  color: #5D748A;
  margin-bottom: 20px;
}

.advise-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130.3%;
  color: #5D748A;
  opacity: 0.5;
}

.swiper-pagination-bullet {
  background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
  opacity: 0.4;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.swiper-pagination-bullet-active {
  border-radius: 6px;
  width: 116px;
  opacity: 1;
}

.arena {
  position: relative;
  margin-bottom: 120px;
}

.arena .black-box {
  position: absolute;
  top: -100px;
  left: 0;
}

.arena__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arena__inner .arena-left {
  margin-left: 60px;
}

.arena__inner .arena-left__image-boy {
  width: 611px;
  height: 551px;
  -o-object-fit: contain;
     object-fit: contain;
}

.arena__inner .arena-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arena__inner .arena-right .arena-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  width: 100%;
}

.arena__inner .arena-right .arena-top__title {
  display: inline-block;
  text-decoration: none;
  max-width: 238px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125.34%;
  color: #558EF7;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.arena__inner .arena-right .arena-top__title:hover {
  opacity: .8;
}

.arena__inner .arena-right .arena-top__title:active {
  opacity: .6;
}

.arena__inner .arena-right .arena-top form select {
  padding: 15px;
  padding-right: 5px;
  border-radius: 25px;
  border: none;
  border: 1px solid #FEA244;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #4A4952;
}

.arena__inner .arena-right .arena-middle {
  margin-bottom: 48px;
}

.arena__inner .arena-right .arena-middle__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arena__inner .arena-right .arena-middle__row .row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arena__inner .arena-right .arena-middle__row .row-left__image {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  border-radius: 16px;
  padding: 15px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.arena__inner .arena-right .arena-middle__row .row-left__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125.34%;
  color: #5D748A;
  max-width: 112px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  text-decoration: none;
  margin-right: 32px;
}

.arena__inner .arena-right .arena-middle__row .row-left__title:hover {
  color: #558EF7;
}

.arena__inner .arena-right .arena-middle__row .row-left__title:active {
  opacity: .6;
}

.arena__inner .arena-right .arena-middle__row .row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arena__inner .arena-right .arena-middle__row .row-right__image {
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  border-radius: 16px;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
}

.arena__inner .arena-right .arena-middle__row .row-right__image-gym {
  background: none;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -20px;
  margin-top: 20px;
}

.arena__inner .arena-right .arena-middle__row .row-right__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125.34%;
  color: #5D748A;
  max-width: 112px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  text-decoration: none;
}

.arena__inner .arena-right .arena-middle__row .row-right__title:hover {
  color: #558EF7;
}

.arena__inner .arena-right .arena-middle__row .row-right__title:active {
  opacity: .6;
}

.arena__inner .arena-right .arena-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 528px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  border-radius: 16px;
  padding: 8px 20px;
}

.arena__inner .arena-right .arena-bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.arena__inner .arena-right .arena-bottom__left .number {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 125.34%;
  color: #558EF7;
  margin-right: 12px;
}

.arena__inner .arena-right .arena-bottom__left .total-counter__ta {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130.3%;
  color: #5D748A;
  opacity: 0.5;
}

.arena__inner .arena-right .arena-bottom__left .total-counter__result {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125.34%;
  color: #5D748A;
}

.arena__inner .arena-right .arena-bottom__right .learn-more {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FEA244;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: alle ease .5s;
  transition: alle ease .5s;
  position: relative;
  margin-right: 24px;
}

.arena__inner .arena-right .arena-bottom__right .learn-more:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.arena__inner .arena-right .arena-bottom__right .learn-more::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  bottom: 0;
  left: auto;
  margin: auto;
  width: 12px;
  height: 10px;
  background-image: url(../images/icon/pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.arena__inner .arena-right .arena-bottom__right .learn-more:hover {
  opacity: .8;
}

.arena__inner .arena-right .arena-bottom__right .learn-more:active {
  opacity: .6;
}

.user {
  margin-bottom: 100px;
}

.user__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user__inner .user-left__image {
  width: 435px;
  height: 417px;
  -o-object-fit: contain;
     object-fit: contain;
}

.user__inner .user-right {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 48px 32px;
}

.user__inner .user-right .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.user__inner .user-right .right-header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #558EF7;
}

.user__inner .user-right .right-header__list {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FD9147;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-right: 24px;
}

.user__inner .user-right .right-header__list:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.user__inner .user-right .right-header__list::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  bottom: 0;
  left: auto;
  margin: auto;
  width: 12px;
  height: 10px;
  background-image: url(../images/icon/pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.user__inner .user-right .right-header__list:hover {
  opacity: .8;
}

.user__inner .user-right .right-header__list:active {
  opacity: .6;
}

.user__inner .user-right .user-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 12px;
  background: #FFF4E9;
  border-radius: 12px;
  position: relative;
  margin-bottom: 30px;
}

.user__inner .user-right .user-level:last-child {
  margin-bottom: 0;
}

.user__inner .user-right .user-level__image {
  width: 58px;
  height: 54px;
  border: 1px solid #C9C9C9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-right: 20px;
  display: block;
}

.user__inner .user-right .user-level .user-data {
  width: 183px;
  margin-right: 84px;
}

.user__inner .user-right .user-level .user-data__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #16233C;
  margin-bottom: 1px;
}

.user__inner .user-right .user-level .user-data__position {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #467FFF;
}

.user__inner .user-right .user-level__star {
  width: 34px;
  height: 31px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 14px;
}

.user__inner .user-right .user-level__point {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #00B527;
  margin-right: 30px;
  width: 48px;
}

.user__inner .user-right .user-level__game-controller {
  width: 32px;
  height: 23.5px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}

.user__inner .user-right .user-level__medal {
  position: absolute;
  top: 0;
  right: 10px;
  width: 81px;
  height: 99px;
  -o-object-fit: contain;
     object-fit: contain;
}

.user__inner .user-right .user-level__empty-block {
  width: 81px;
}

.middle-title {
  margin-bottom: 24px;
}

.middle-title__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-title__inner .empty-block {
  width: 137px;
  margin-left: 24px;
}

.middle-title__inner .title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125.34%;
  text-align: center;
  color: #558EF7;
}

.middle-title__inner .all-aphletes {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FD9147;
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-right: 24px;
}

.middle-title__inner .all-aphletes:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.middle-title__inner .all-aphletes::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  bottom: 0;
  left: auto;
  margin: auto;
  width: 12px;
  height: 10px;
  background-image: url(../images/icon/pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.middle-title__inner .all-aphletes:hover {
  opacity: .8;
}

.middle-title__inner .all-aphletes:active {
  opacity: .6;
}

.champions-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.champions-carousel .swiper-container-champions {
  width: 100%;
  height: 604px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide .champions-info {
  position: absolute;
  bottom: 0;
  padding: 32px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide .champions-info__name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide .champions-info__position {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.6;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-active {
  width: 400px !important;
  height: 504px !important;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-active .champions-info {
  position: absolute;
  bottom: 0;
  padding: 32px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-active .champions-info__name {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-active .champions-info__position {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.6;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-prev,
.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-next {
  max-width: 304px !important;
  height: 380px !important;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-prev .champions-info,
.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-next .champions-info {
  position: absolute;
  bottom: 0;
  padding: 32px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-prev .champions-info__name,
.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-next .champions-info__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-prev .champions-info__position,
.champions-carousel .swiper-container-champions .swiper-wrapper .swiper-slide-next .champions-info__position {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.6;
}

.champions-slide {
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  width: 192px;
  height: 256px;
  position: relative;
}

.champions-slide .champions-info {
  position: absolute;
  bottom: 0;
}

.champions-slide .champions-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.champions-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#383C45), to(rgba(56, 60, 69, 0)));
  background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0) 100%);
}

.media {
  margin-bottom: 82px;
}

.media__inner {
  background-image: url(../images/half-bg.png), url(../images/parents-bg.jpg);
  background-repeat: no-repeat;
  background-size: 95% auto, 100% auto;
  background-position: center right, center;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 112px 65px 65px;
}

.media__inner .media-title {
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 162.5%;
  letter-spacing: 0.12px;
  color: #FFFFFF;
  max-width: 536px;
}

.media__inner .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media__inner .social__link {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 24px;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.media__inner .social__link svg {
  fill: #5D748A;
}

.media__inner .social__link svg:hover {
  fill: #FD9147;
}

.media__inner .social__link svg:active {
  opacity: .6;
}

footer {
  padding-top: 56px;
  padding-bottom: 44px;
}

footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

footer .footer__top .footer-col .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

footer .footer__top .footer-col .footer-logo__image {
  width: 75.5px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 23.5px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

footer .footer__top .footer-col .footer-logo__image:hover {
  opacity: .8;
}

footer .footer__top .footer-col .footer-logo__image:active {
  opacity: .6;
}

footer .footer__top .footer-col .footer-logo__brand {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 110.84%;
  color: #5D748A;
  max-width: 130px;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

footer .footer__top .footer-col .footer-logo__brand:hover {
  opacity: .8;
}

footer .footer__top .footer-col .footer-logo__brand:active {
  opacity: .6;
}

footer .footer__top .footer-col__text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  opacity: 0.7;
  max-width: 303px;
}

footer .footer__top .footer-col__title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  margin-bottom: 20px;
}

footer .footer__top .footer-col__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  opacity: 0.7;
  margin-bottom: 8px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

footer .footer__top .footer-col__link:hover {
  color: #FD9147;
}

footer .footer__top .footer-col__link:active {
  color: #FD9147;
}

footer .footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .footer-bottom__guarantee {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5D748A;
  opacity: 0.7;
  max-width: 242px;
}

footer .footer .footer-bottom__developer-company {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  border-radius: 16px;
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .footer-bottom__developer-company .company-info {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 147.5%;
  color: #5D748A;
  margin-right: 16px;
}

footer .footer .footer-bottom__developer-company .company-image {
  width: 105px;
  height: 13px;
}

footer .footer .footer-bottom .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer-bottom .social-media__title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  color: #5D748A;
  margin-bottom: 16px;
}

footer .footer .footer-bottom .social-media .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .footer-bottom .social-media .social__link {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 12px;
  -webkit-box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

footer .footer .footer-bottom .social-media .social__link svg {
  fill: #5D748A;
}

footer .footer .footer-bottom .social-media .social__link svg:hover {
  fill: #FD9147;
}

footer .footer .footer-bottom .social-media .social__link svg:active {
  opacity: .6;
}
/*# sourceMappingURL=main.css.map */